
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 60%;
    height: 60%;
    padding: 2rem;
    background-color: var(--deep-back);
    border-radius: 15px;
    transition: var(--transition);
}

#bar-div.show {
    display: flex;
}

/* Phones */
@media (max-width: 480px) {
    .right a {
        display: none;
    }

    .bar-div {
        list-style: none;
    }

    .main-container {
        min-height: 0;
    }

    #menu-btn {
        pointer-events: all;
    }

    .input-field {
        font-size: 16px !important;
        background-size: 20px 20px !important;
    }

    #email-in {
        padding-left: 40px;
    }

    #contactReason {
        padding: 0.5rem !important;
        font-size: 12px !important;
    }

    .contact-form {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #messageArea {
        font-size: 12px !important;
        width: 100% !important;
    }
}

.contact-form:hover {
    transform: translateY(-5px);
    box-shadow: var(--green-shadow);
}

#messageArea {
    width: 60%;
    height: 10rem;
    background-color: var(--main-back);
    border: none;
    font-size: 1.1rem;
    border-radius: 15px;
    padding: 1rem;
    color: var(--green-main);
}

#email-in {
    background-image: url("../img/email.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left;
}

.bar-div.show {
  display: flex;
}

.bar-div a {
  display: flex !important;
  font-size: 18px;
  color: aliceblue;
}

.bar-div {
  width: 10rem;
  height: 100vh;
  background-color: var(--deep-back);
  list-style: none;
  display: none;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  right: 0rem;
  top: 0;
  border-radius: 15px;
  position: absolute;
}

#name-in {
    background-image: url("../img/Person.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left;
}

.input-field {
    width: 50%;
    height: auto;
    font-size: 1.5rem;
    background-color: var(--main-back);
    border-radius: 15px;
    border: none;
    padding: 0.5rem;
    padding-left: 40px;
    color: var(--green-main);
}

#contactReason {
    padding: 1rem;
    background-color: var(--main-back);
    font-size: 1.1rem;
    color: var(--green-main);
    border: none;
    border-radius: 15px;
}

#subBtn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    width: 30%;
    border-radius: 15px;
    color: var(--main-front);
    transition: var(--transition);
}

#menu-leave {
  background-color: transparent;
  color: var(--green-hover);
  border: none;
  pointer-events: all;
  position: absolute;
  display: flex;
  right: 2rem;
}

#menu-btn {
  border: none;
  background-color: transparent;
}

#subBtn:hover {
    transform: translateY(-5px);
    background-color: var(--green-hover);
    cursor: pointer;
    color: var(--main-back);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}