
:root {
    --font-family: "Inter", "Roboto", sans-serif;
    --title-font: "Lilex", monospace;
    --main-front: #e3e2e2;
    --main-back: #0D1117;
    --deep-back: #161B22;
    --green-hover: #32D17C;
    --green-main: #32CD32;
    --green-shadow: 0 4px 12px rgba(50, 209, 124, 0.5);
    --transition: all 0.3s ease-in-out;
}

.group-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.group-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: fill 0.4s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
}

.brace {
    color: lightslategrey;
}

.nameText {
    color: var(--green-main);
}

footer {
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag {
    color: dodgerblue;
}

hr {
    width: 80%;
    margin: 0 auto;
    background-color: var(--green-main);
    height: 3px;
    transition: all 0.4s ease-in-out;
    border-radius: 4px;
}

hr:hover {
    transform: translateY(-5px);
    box-shadow: var(--green-shadow);
}

.break {
    width: 100%;
    height: 3rem;
}

a {
    text-decoration: none;
    color: var(--main-front);
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.right a:hover {
    background-color: var(--green-hover);
    transform: translateY(-5px);
    color: var(--main-back);
}

.nav {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.main-container {
    min-height: 100vh;
}

.right {
    display: flex;
    gap: 4rem;
}

h1 h2 h3 h4 h5 {
    color: var(--main-front);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

svg {
    fill: var(--main-front);
    transition: all 0.3s ease-in-out;
}

svg:hover {
    cursor: pointer;
    fill: var(--green-hover);
}

footer svg:hover {
    transform: translateY(-5px);
}

body {
  font-family: var(--font-family);
  background-color: var(--main-back);
  color: var(--main-front);
}