#title-img {
  display: none;
}

#menu-img {
  display: none;
}

#menu-leave {
  background-color: transparent;
  color: var(--green-hover);
  border: none;
  pointer-events: all;
  position: absolute;
  right: 2rem;
}

#menu-btn {
  border: none;
  background-color: transparent;
}

.bar-div a {
  display: flex !important;
  font-size: 10px;
  color: aliceblue;
}

/* Phones */
@media (max-width: 480px) {

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 12px;
  }

  .mobile-menu {
    position: relative;
  }

  .about {
    width: 80%;
  }

  .bar-div a {
    display: flex;
  }

  .right {
    box-sizing: border-box;
  }

  .right a {
    display: none;
  }

  #title {
    display: none;
  }

  #title-img {
    display: flex;
    width: 30px;
    height: auto;
  }

  .main-container {
    align-items: center;
    justify-content: center;
  }

  .card-rel.show {
    width: 110%;
    height: auto;
  }

  .card {
    background-position: center;
  }

  .card-o.show {
    width: 110%;
    height: auto;
  }

  #menu-img {
    display: flex;
    width: 30px;
    height: auto;
  }
}