
hr {
    opacity: 5;
}

.main-container {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#title-img {
  display: none;
}

#menu-img {
  display: none;
}

.bar-div {
  width: 10rem;
  height: 100vh;
  background-color: var(--deep-back);
  list-style: none;
  display: none;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  right: 0rem;
  top: 0;
  border-radius: 15px;
  position: absolute;
}

.bar-div.show {
  display: flex;
}

#menu-leave {
  background-color: transparent;
  color: var(--green-hover);
  border: none;
  pointer-events: all;
  position: absolute;
  right: 2rem;
}

#menu-btn {
  border: none;
  background-color: transparent;
}

.bar-div a {
  display: flex !important;
  font-size: 18px;
  color: aliceblue;
}

/* phones */
@media (max-width: 480px) {

    .main-container {
        flex-direction: column;
        padding: 0;
        margin: 1rem;
    }

    #title {
        display: none;
    }

    .right a {
        display: none;
        pointer-events: all;
    }

    #title-img {
        display: flex;
        width: 30px;
        height: auto;
    }

    .work-card img {
        display: none;
    }

    .work-card h5 {
        font-size: 18px;
    }

    .work-card p {
        font-size: 15px;
    }

    #menu-img {
        display: flex;
        width: 30px;
        height: auto;
    }

    body {
        padding: 0;
        margin: 0;
    }

    .group-col {
        width: 100%;
    }

    .resume {
        position: relative;
        width: 100% !important;
        padding: 0.5rem;
    }

    .school-card h3 {
        font-size: 18px;
    }

    .school-card h5 {
        font-size: 16px;
    }

    .school-card h6 {
        font-size: 14px;
    }

    .school {
        width: 100% !important;
    }

    #edBtn {
        right: 1rem !important;
    }

    #workBtn {
        margin: 0;
        padding: 0;
        left: 1rem !important;
    }

    .aside-card {
        width: 100%;
        float: none;
    }
}

.aside-card {
    text-align: center;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--deep-back);
    max-width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 10px;
    transition: var(--transition);
}

.aside-card:hover {
    box-shadow: var(--green-shadow);
}

.group-row {
    width: 100%;
    justify-content: space-between;
}

#row {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.resume {
    text-align: center;
    background-color: var(--deep-back);
    display: flex;
    opacity: 0;
    flex-direction: column;
    pointer-events: none;
    position: absolute;
    transform: translateY(120px);
    justify-content: space-between;
    width: 90%;
    height: 0;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    transition: var(--transition);
}

.resume.show {
    position: unset;
    pointer-events: all;
    opacity: 1;
    height: 100%;
    transform: translateY(0);
}

.school {
    position: absolute;
    text-align: center;
    background-color: var(--deep-back);
    display: flex;
    opacity: 0;
    flex-direction: column;
    transform: translateY(120px);
    pointer-events: none;
    width: 90%;
    max-height: 100%;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.school-card {
    background-color: var(--main-back);
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
    height: auto;
    border-radius: 15px;
    transition: var(--transition);
}

.school-card:hover {
    transform: translateY(-5px);
}

.school.show {
    position: relative;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

#edBtn {
    background-color: transparent;
    border-radius: 15px;
    color: var(--main-front);
    padding: 0.8rem;
    border: none;
    position: absolute;
    right: 5rem;
    transition: var(--transition);
}

#workBtn {
    background-color: transparent;
    border-radius: 15px;
    color: var(--main-front);
    padding: 0.8rem;
    border: none;
    position: absolute;
    left: 3rem;
    transition: var(--transition);
}

#workBtn:hover {
    background-color: var(--green-hover);
    color: var(--main-back);
}

#edBtn:hover {
    background-color: var(--green-hover);
    color: var(--main-back);
}

.pick {
    width: 5rem;
    height: auto;
    margin: 2rem;
}

#email {
    width: 2rem;
    height: auto;
}

#phone {
    width: 2rem;
    height: auto;
}

.skill-icon {
    width: 2rem;
    height: auto;
}

.outer-progress {
    width: 100%;
    height: 1rem;
    border-radius: 15px;
    background-color: var(--main-back);
}

.inner {
    height: 1rem;
    border-radius: 15px;
    background-color: var(--green-hover);
    transition: var(--transition);
}

.badge-green {
    background-color: var(--green-hover);
    color: var(--deep-back);
    padding: 0.5rem;
    border-radius: 15px;
}

.inner:hover {
    background-color: aquamarine;
}

#inner-bar-java {
    width: 80%;
}

#inner-bar-c {
    width: 75%;
}

#inner-bar-js {
    width: 40%;
}

#inner-bar-python {
    width: 50%;
}

#inner-bar-html {
    width: 80%;
}

#inner-bar-css {
    width: 60%;
}

#inner-bar-php {
    width: 60%;
}

#inner-bar-c_plus {
    width: 0%;
}

#inner-bar-r {
    width: 0%;
}

.work {
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 15px;
    background-color: var(--main-back);
}

.work-card {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    transition: var(--transition);
}

.work-card:hover {
    transform: translateY(-5px);
}

p {
    margin-top: 1rem;
    font-size: 1.02rem;
}

.pair {
    width: 100%;
}

.job-icon {
    width: 2rem;
    height: auto;
}